<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
        rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="/Theme/vendor/spinkit.css" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="/Theme/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="/Theme/css/material-icons.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="/Theme/css/fontawesome.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="/Theme/css/preloader.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="/Theme/css/app.css" rel="stylesheet">


    <link rel="stylesheet" href="css/login.css">

</head>

<body class="layout-default layout-login-centered-boxed">


    <div class="container" id="container" >

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img class="brand-icon"
                             src="/Theme/images/logo/logo1.png"
                             width="200rem" height="50rem"
                             alt="Exambyte"><br><br>
                    <h2  style="color: black;">Welcome To Exambyte</h2>
                    <h3 style="color: black;font-family:Arial, Helvetica, sans-serif;" >Every Learner matters</h3>
                   
                    
                    <!-- <button class="ghost" id="signIn"><a class="l" href="signin.html">Sign In</a></button> -->
                    <!-- <button class="ghost" id="signIn" type="submit" onclick="window.location.href='/login'">Sign In</button> -->
                </div>
            </div>
        </div>

        <div class="form-container sign-in-container">
           
            <form action="/" id="login-form" novalidate>
                <h1 id="heading">Sign-In</h1>
                <div class="form-group" id="email-body">
                    <label class="text-label" for="email">Email:</label>
                    <div class="input-group input-group-merge">
                        <input id="email" type="email" required="" class="form-control form-control-prepended"
                            placeholder="john@doe.com">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="pass-body">
                    <label class="text-label" for="password" id="pass">Password:</label>
                    <div class="input-group input-group-merge">
                        <input id="password" type="password" required="" class="form-control form-control-prepended"
                            placeholder="Enter your password">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-key"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <div class="form-group-button " style="margin-left: 3rem;">

                    <button class="btn btn-block btn-primary" type="submit">SIGN IN</button>
                </div></div>
                <div class="form-group text-center">
                    <div class="custom-control custom-checkbox">
                        <input style="margin-left: 7rem;" type="checkbox" class="custom-control-input" checked="" id="remember">
                        <label style="margin-left: -1rem;" class="custom-control-label" for="remember">Remember me for 30 days</label>
                    </div>
                </div>
                <div class="form-group text-center" id="forgot">
                    <a href="">Forgot password?</a> <br>
                    <div class="page-separator justify-content-center">
                        <div class="page-separator__text bg-white" style="margin-left: -1rem;margin-top:2rem; margin-bottom:-2rem;">or</div>
                    </div>
                    <a href="/" class="btn btn-light btn-block mb-24pt" style="margin-left: 1rem;">
                        <span class="fab fa-google icon--left"></span>
                        Continue with Google
                    </a>
                    <a href="/" class="btn btn-light btn-block mb-24pt" style="margin-left: 1rem;margin-top:-2rem;">
                        <span class="fab fa-facebook-f icon--left"></span>
                        Continue with Facebook
                    </a>
                    <div class="forAccount">
                    <span style="margin-left: 12rem;margin-top:-4rem;">Don't have an account? <span><a class="text-body text-underline" style="margin-left: .2rem;" href="/register">Sign up!</a></div>
                </div>
               
            
               
            </form>
                       
                    </div>
              
        


   


    <!-- jQuery -->
    <script src="/Theme/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/Theme/vendor/popper.min.js"></script>
    <script src="/Theme/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="/Theme/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="/Theme/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="/Theme/vendor/material-design-kit.js"></script>

    <!-- App JS -->
    <script src="/Theme/js/app.js"></script>

    <!-- Preloader -->
    <script src="/Theme/js/preloader.js"></script>

    <script src="script/login.js"></script>

</body>

</html>