<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is mcq test area
    <section class="start-quiz" id="start-quiz">
        <h2 id="qtn">Question</h2>
        <ul>
            <li>
                <input type="radio"  name="answer" id="ans1" class="answer" >
                <label for="ans1" id="option1">option 1</label>
            </li>
            <li>
                <input type="radio"  name="answer" id="ans2" class="answer" >
                <label for="ans2" id="option2"> option 2</label>
            </li>

            <button id="submit">Submit</button>
        </ul>
        <div id="showScore">
            
        </div>
    </section>


    <script src="/script/mcqTest.js"></script>
</body>
</html>