<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminHome Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Libre+Baskerville:ital@0;1&family=Mukta:wght@300;400;500&family=Source+Serif+4:ital,wght@0,200;1,200&display=swap"
        rel="stylesheet">

    <!---------AOS LIBRARY--------->
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/superAdminStyle.css">
    <link rel="stylesheet" href="css/normalAdminDashboard.css">

    <link rel="icon" href="data:,">

</head>

<body>

    <!--------------Navigation----------------->

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Exambyte</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/NormalAdminDashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/NormalAdminProfile">My Profile</a>
                    </li>
                    <li class="nav-item" id="nav-link-3">
                        <!-- Data will be loaded Dynamically -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/test/admin">Create Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Blogs Section -->
    <div class="container-fluid blog-area">
        <section class="container" id="blogs-section">
            <!--- data will come dynamically---->

        </section>
        <section class="container" id="category-blog-section-Mathematics">
            <!--- data will come dynamically---->
        </section>
        <section class="container" id="category-blog-section-Physics">
            <!--- data will come dynamically---->
        </section>
        <section class="container" id="category-blog-section-Chemistry">
            <!--- data will come dynamically---->
        </section>
        <section class="tags-categories" id="tags-categories">
             <!--- data will come dynamically---->
        </section>
    </div>



    <section class="particular-blog-section" id="particular-blog-section">
        <!-- Data will come dynamically -->
        <!-- By default display will be none -->
    </section>


    <!-- <div class="page-container"> -->
        <div class="content-wrap">
            <!-- Section -->

        </div>
        <!-------Footer------->

        <footer class="footer col-xs-8 col-lg-8">
            <div class="container-foot">
                <a href="#">About us </a>|
                <a href="#">Career</a>|
                <a href="#">Contact us</a>
            </div>
            <div class="social-list">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>

            </div>
            <div class="bottom">
                <p>copyright &copy;2021 <a href="#">XYZ</a></p>
            </div>

        </footer>
    <!-- </div> -->




    <!--  Font Awesome  -->
    <script src="https://kit.fontawesome.com/50c832ee4b.js" crossorigin="anonymous"></script>

    <!------AOS JS------->
    <script src="script/aos.js"></script>



    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="script/normalAdminDashboard.js"></script>

</body>

</html>