<!DOCTYPE html>
<html lang="en" dir="ltr">


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Sign Up</title>
    
        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots" content="noindex">
    
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
            rel="stylesheet">
    
        <!-- Preloader -->
        <link type="text/css" href="/Theme/vendor/spinkit.css" rel="stylesheet">
    
        <!-- Perfect Scrollbar -->
        <link type="text/css" href="/Theme/vendor/perfect-scrollbar.css" rel="stylesheet">
    
        <!-- Material Design Icons -->
        <link type="text/css" href="/Theme/css/material-icons.css" rel="stylesheet">
    
        <!-- Font Awesome Icons -->
        <link type="text/css" href="/Theme/css/fontawesome.css" rel="stylesheet">
    
        <!-- Preloader -->
        <link type="text/css" href="/Theme/css/preloader.css" rel="stylesheet">
    
        <!-- App CSS -->
        <link type="text/css" href="/Theme/css/app.css" rel="stylesheet">
    
        <link rel="stylesheet" href="css/signup.css">
    </head>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" href="data:,">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="css/signup.css">
</head>


<body>

    <div class="container" id="container">

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">

                    <img class="brand-icon"
                             src="/Theme/images/logo/logo1.png"
                             width="200rem" height="50rem"
                             alt="Exambyte"><br><br>
                    <h2 style="color: black;">Welcome To Exambyte</h2>
                    <h3 style="color: black;font-family:Arial, Helvetica, sans-serif" >Every Learner matters</h3>
                    <span style="color:black">or use your email for registration</span>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    
                    <!-- <button class="ghost" id="signIn"><a class="l" href="signin.html">Sign In</a></button> -->
                    <!-- <button class="ghost" id="signIn" type="submit" onclick="window.location.href='/login'">Sign In</button> -->

                  

                </div>
            </div>
        </div>

        <div class="form-container sign-in-container">
            <form class="j">

                <h1 id="heading" style="font-size: 30px;margin-top:2rem;">Create Account</h1>
                
                <label class="form-name" id="forName" for="name">Name:</label>
                <input class="form-name" id="name" type="text" autocomplete="off" placeholder="Name" />
                <label class="form-phone" id="forMobile" for="mobileno">Mobile No.:</label>
                <input class="form-phone" id="contactNo" type="tel" autocomplete="off" placeholder="Mobile No." />
                <label  class="form-password" id="forPass" for="password">Password:</label>
                <input class="form-password" id="password" type="password" autocomplete="off" placeholder="Password" />
                <label class="form-cpassword" id="forcPass" for="confirm_password">Confirm Password:</label>
                <input class="form-cpassword" id="confirm_password" type="password" autocomplete="off" placeholder="Confirm Password" />
                <button type="submit" class="SignUp">Sign Up</button>
                <!-- <a class="signUp-link" href="signin.html">SIGN IN</a> -->
                <span class="signUpClick">By Clicking 'signup' you agree to our <a href="#" class="terms">Terms of Services </a>  &<a href="#" class="privacy">Privacy Policy</a></span>
                <span class="AlreadyAcc">Already have an account?<a class="ghost" id="signIn" type="submit" onclick="window.location.href='/login'">Sign In</a></span>

               
        </div>

    </div>

    <script src="script/register.js"></script>
</body>

</html>