#show-admin-all-blogs {
    display: none;
    flex-direction: column;
    border-radius: 5px;
    height: auto;
    width:100vw;
    justify-content: center;
    align-items: center;
}

.blog-data-section-class {
    height: 6rem;
    width: 90%;
    background-color: #134d5c;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    margin:1rem;
}

.blog-content {
    width: 80%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

.blog-actions {
    height: 6rem;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}

.blog-actions button {
    margin: auto;
}

#edit-blog-section {
    display: none;
}

.container {
    display: none;
}