
:root{
    /* theme colors */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color 
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);    */
    --sky:#39C0ED;
}

ul{
    list-style-type: none;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-fluid .container{
    /* color:antiquewhite;
    background-color: black; */
    border-radius: 5px;
    border: 1px solid skyblue;
    margin-left: 10%;
    margin-top: 8rem;
    margin-right: 10rem;
    padding: 3%;
    overflow-x: hidden;
}

.container-fluid .container .row h1{
    margin-left: 35%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Source Serif 4', sans-serif;
}

.container-fluid .container .row p{
    margin-left: 4%;
}
.container-data .image img{
    margin-left: 12%;
    margin-top: 4%;
    width: 70%;
    height: 40%;
}
.container-data .image p{
    margin-left: 40%;
    margin-bottom: 4%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Serif 4', sans-serif;
}
pre{
    font-family: 'Roboto', sans-serif;
    height: auto;
    white-space: break-spaces;
}
.description{
    margin-left: 4%;
    font-size:medium;
    font-weight: bolder;
    margin-bottom: 3%;
}

.buttons{
    margin-left: 40%;
    display: flex;
    flex-direction: initial;
}
.buttons button{
    width: 4rem;
    height: 2rem;
}
.buttons span{
    color:#0f0f0f;
}
.social-media{
    margin: 3rem;
}
.like-btn, .unlike-btn{
    margin-right: .5rem;
    margin-left: 1rem;
    background-color: #008CBA;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    
}
.save-btn, .unsave-btn{
    margin-right: 1rem;
    margin-left: 2rem;
    background-color: green;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}
.like-btn:hover, .unlike-btn:hover{
    background-color: skyblue;
    transition: .1s;
    border: 1px solid black;
}
.save-btn:hover, .unsave-btn:hover{
    background-color: lightgreen; 
    transition: .1s;
    border: 1px solid black;
}



.social-share {      
    margin-top: 3rem; 
    margin-left: 26rem;           
    }         
    .social-share a {    
    text-align: center;
    margin-left: .3rem;   
    padding: 4px; 
    width: 35px;    
    color: white;   
    font-size: 20px; 
    text-decoration: none;  
    }         
    /* HOver affect on sticky social media icons */   
    .social-share a:hover {   
    color: #000;   
       
    }   

.facebook {   
    background: #3b5998;   
    color: white;  
    }         
    .twitter {   
    color: white;   
    background: #00acee;   
    }   
    .linkedin {   
    background: #0e76a8;   
    color: white;   
    }         
    .whatsapp {   
    color: white;   
    background: green;   
    }   
    .instagram {   
    background: #3f729b;   
    color: palevioletred;   
    }         
    .youtube {   
    color: white;   
    background: #c4302b;    
    }   



 /* Footer */
 footer{
    margin-top: 4rem;
}

 footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}
footer.footer .fa-brands:hover{
    color:#39C0ED;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
}


footer.footer .follow div i{
  color: white;
  padding: 0 .4rem;
}

footer.footer .rights{
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer.footer .rights h6 a{
  color:#39C0ED;
  text-decoration: none;
}

footer.footer .move-up{
  position:absolute;
  right: 6%;
  top:50%;
}

footer.footer .move-up span{
  color: var(--midnight);
}
footer.footer .move-up span:hover{
  color: var(--white);
  cursor: pointer;
}

/*  viewport less than  or equal to 1130px */

@media only screen and (max-width:1130px) {
  .site-content.post-content>.post-image .post-info{
      left: 2rem !important;
      bottom: 1.2rem !important;
      border-radius: 0% !important;
      
  }
  .site-content .sidebar .popular-post .post-info{
      display: none !important;
  }

  footer.footer .container{
      grid-template-columns: repeat(1.1fr);
  }
  .social-share {      
    margin-top: 3rem; 
    margin-left: 22rem;           
    }  
 
        .container-fluid .container{
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .container-fluid .container .row h1{
            margin-left: 32% !important;
            font-size: x-large;
        }
        .container-data .image p{
            margin-left: 30% !important;
        }
        .container-data .image img{
            margin-left: 4% !important;
            width: 95% !important;
            height: 40% !important;
        }
        .buttons{
            margin-left: 36%;
            display: flex;
            flex-direction: initial;
        }
    
   
}
@media only screen and (max-width:1000px) {
   
      
  }
  .pagination{
      width: 70%;
  }
  .sidebar{
      width: 35vw;
  }
}


 @media (max-width:1020px) {
    .container-data .image img{
        margin-left: 18% !important;
    }
    .social-share {      
        margin-top: 3rem; 
        margin-left: 6rem !important;           
        }  
}
 @media (max-width:860px) {
 
    
     .container-data .image img{
        margin-left: 14% !important;
        width: 80% !important;
        height: 40% !important;
    }
    .container-fluid .container .row h1{
        margin-left: 37% !important;
        font-size: x-large !important;
    }
    .social-share {      
        margin-top: 3rem; 
        margin-left: 10rem;   
        margin-bottom: 2rem;        
        } 
}  
@media (max-width:690px) {
 
    .container-fluid .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .container-fluid .container .row h1{
        margin-left: 32% !important;
        font-size: x-large;
    }
    .container-data .image p{
        margin-left: 30% !important;
    }
    .container-data .image img{
        margin-left: 4% !important;
        width: 95% !important;
        height: 40% !important;
    }
    .buttons{
        margin-left: 36%;
        display: flex;
        flex-direction: initial;
    }
    .social-share {      
        margin-top: 3rem; 
        margin-left: 10rem;   
        margin-bottom: 2rem;        
        } 
}
@media (max-width:580px) {
 
    .container-fluid .container{
        margin-left: 1rem;
        margin-right: 6rem !important;
    }
    .container-fluid .container .row h1{
        margin-left: 32% !important;
        font-size: x-large;
    }
    .container-data .image p{
        margin-left: 30% !important;
    }
    .container-data .image img{
        margin-left: 4% !important;
        width: 95% !important;
        height: 40% !important;
    }
    .buttons{
        margin-left: 36%;
        display: flex;
        flex-direction: initial;
    }
    .social-share {      
        margin-top: 3rem; 
        margin-left: 3rem;   
        margin-bottom: 2rem;        
        } 
}
@media (max-width:560px) {

    .buttons{
        margin-left: 34%;
        display: flex;
        flex-direction: initial;
    }
    .container-fluid .container{
        margin-left: 1rem;
        margin-right: 8rem !important;
    }
    .social-share {      
        margin-top: 3rem; 
        margin-left: 9rem;   
        margin-bottom: 2rem;        
        } 
}
@media (max-width:475px) {
    .container-fluid .container{
        margin-left: 1rem;
        margin-right: 6rem !important;
    }
 
    .container-fluid .container .row h1{
        margin-left: 28% !important;
        font-size: x-large;
    }
    .container-data .image p{
        margin-left: 24% !important;
    }
    .container-data .image img{
        margin-left: 4% !important;
        width: 100% !important;
        height: 40% !important;
    }
    .buttons{
        margin-left: 27%;
        display: flex;
        flex-direction: initial;
    }
    .social-share {      
        margin-top: 3rem; 
        margin-left: 6rem;   
        margin-bottom: 2rem;        
        } 
}
@media (max-width:430px) {
 
    .container-fluid .container .row h1{
        margin-left: 30% !important;
        font-size: large !important;
    }
    .container-data .image p{
        margin-left: 24% !important;
        font-size: small !important;
    }
    .container-data .image img{
        margin-left: 0% !important;
        width: 110% !important;
        height: 40% !important;
    }
    .buttons{
        margin-left: 26%;
        display: flex;
        flex-direction: initial;
    }
    .social-share {      
        margin-top: 3rem; 
        margin-left: 4rem;   
        margin-bottom: 2rem;        
        } 
}
@media (max-width:372px) {
 
    .container-fluid .container .row h1{
        margin-left: 30% !important;
        font-size: large !important;
    }
    .container-data .image p{
        margin-left: 24% !important;
        font-size: small !important;
    }
    .container-data .image img{
        margin-left: 0% !important;
        width: 110% !important;
        height: 40% !important;
    }
    .buttons{
        margin-left: 20%;
        display: flex;
        flex-direction: initial;
    }
    .social-share {      
        margin-top: 3rem; 
        margin-left: 3rem;   
        margin-bottom: 2rem;        
        } 
}
@media only screen and (max-width:1130px) {
    
    footer.footer .container{
        grid-template-columns: repeat(1.1fr);
    }
     
 }

 
 /*  viewport less than  or equal to 750px */
 
 @media only screen and (max-width:768px) {
    
     footer.footer .container{
         grid-template-columns: repeat(1,1fr);
     }
    
     
     
 }

 @media only screen and (max-width:520px) {
    
 
     footer.footer .container >div{
         padding: 1rem .9rem !important;
     }
     footer.rights{
         padding: 0 1.4rem;
         text-align: center;
     }
    
 }
